@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,300,700|Open+Sans:400italic,300italic);

body {
    background-color: #fff
}

.home {
    width: 100%;
    padding: 100px 0;
    min-height: 100vh;
    position: relative;
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container {
    width: 70%;
    min-height: 10px;
    max-width: 1500px;
    padding: 15px;
    border: 2px solid #fff;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container-inner {
    width: 100%;
    min-height: 10px;
    max-width: 1500px;
    padding: 15px;
    background-color: #29363B;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introduction {
    width: 60%;
    min-height: 10px;
    max-width: 1000px;
    padding: 15px;
    color: #fff;
}

.introduction h3 {
    padding: 7.5px;
    font-size: 1.4rem;
}

.introduction h1 {
    padding: 7.5px;
    font-size: 2.2rem;
}

.introduction p {
    padding: 7.5px;
    font-size: 1.2rem;
}

.home-btns {
    padding: 25px;
    padding-left: 0;
}

.home-btns a {
    padding: 15px;
    margin-right: 15px;
    border-radius: 30px;
    text-decoration: none;
}

.my-picture {
    width: 40%;
    min-height: 10px;
    max-width: 1000px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-picture img {
    width: 500px;
    height: 500px;
    border-radius: 12px;
}

.hire-btn {
    background-color: #ff862a;
    border: 3px solid #ff862a;
    transition: .3s ease;
    color: #fff;
}

.download-btn {
    background-color: #fff;
    border: 3px solid #fff;
    transition: .3s ease;
    color: #000;
}

.hire-btn:hover {
    background-color: transparent;
    color: #fff;
}

.download-btn:hover {
    background-color: transparent;
    color: #fff;
}

@media (max-width: 1700px) {
    .introduction, .my-picture {
        width: 50%;
    }
    .my-picture img {
        width: 400px;
        height: 400px;
    }
}

@media (max-width: 1250px) {
    .home-container-inner {
        flex-direction: column;
    }
    .introduction {
        width: 100%;
    }
}

@media (max-width: 700px) {
    .home-container {
        width: 90%;
    }
    .my-picture img {
        width: 300px;
        height: 300px;
    }
    .home-btns {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 0;
}
.home-btns a {
    width: 200px;
    text-align: center;
    margin: 15px;
}
}