.testimonials {
    width: 100%;
    padding: 100px 0;
    min-height: 100px;
    position: relative;
    background-color: #29363B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonials-container {
    width: 100%;
    min-height: 100px;
    max-width: 1300px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.testimonials-container h2 {
    padding: 7.5px;
    padding-bottom: 15px;
    font-size: 3.5rem;
    color: #fff;
    margin-left: 50px;
}

.testimonials-container p {
    padding: 7.5px;
    font-size: 1.2rem;
    color: #fff;
    max-width: 50ch;
    margin-left: 50px;
    padding-bottom: 50px;
}

.testimonials-container-inner {
    width: 100%;
    min-height: 100px;
    max-width: 1300px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.testimonial {
    width: 400px;
    min-height: 600px;
    padding: 15px;
    margin: 15px;
    background-color: #1d1d1d;
    border-radius: 12px;
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
}

.testimonial:hover {
    transform: translateY(-20px) scale(1.05);
}

.testimonial p {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0;
    padding-bottom: 7.5px;
}

.user {
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.user img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.user h3, .user h4, .user img {
    padding-bottom: 7.5px;
}

.user h4 {
    font-weight: lighter;
}

.rating {
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1200px) {
    .testimonials-container-inner {
        flex-wrap: wrap;
    }
}

@media (max-width: 800px) {
    .testimonial:hover {
        transform: translateY(0) scale(1);
    }
    .testimonial {
    width: 350px;
}
}

@media (max-width: 550px) {
    .testimonials-container {
        align-items: center;
    }

    .testimonials-container h2, .testimonials-container p {
        margin-left: 0;
    }

    .testimonials-container p {
        text-align: center;
    }
}